<div class="col-xs-12 col-sm-4">
    <div class="social">
        <p>Share this article</a>
        <div class="social-links">
            <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-twitter"></i></a>

            <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-facebook-official"></i></a>

            <a class="social-icon" data-platform="mail"  href="mailto:george.luizchaves@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</div>
